.intro {
    justify-content: center;
    flex-direction: column;
    margin: 0 180px;
    background-color: #323132;
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
}

.big {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .intro {
        width: 75%;
    }
}

@media only screen and (max-width: 479px) {
    .intro {
        width: 90%;
    }
}